/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button,
input {
    font-size: inherit;
    font-family: inherit;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

p,
a,
span,
button {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

/* colours */

* {
    color: white;
}

/* layout */

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

main,
footer {
    text-align: center;
}

#content-image {
    max-width: 500px;
    margin: 4em auto;
}

#content-image > img {
    max-width: 100%;
}

#content-text > * {
    margin-bottom: 1em;
}

#content-text > button {
    background-color: white;
    color: hsl(257, 40%, 49%);
    padding: 1em 6em;
    border: none;
    border-radius: 10em;
    box-shadow: 1px 1px 2px 2px;
    margin: 2em auto;
    transition: transform 0.2s, font-weight 0.2s;
    cursor: pointer;
    margin-bottom: 5em;
}

#content-text > button:hover {
    transform: scale(1.05);
    font-weight: 700;
}

footer {
    margin-top: auto;
}

footer > a {
    font-size: 1.6em;
    margin-left: 0.75em;
}

footer i:hover {
    transform: scale(1.1);
    transition: scale 0.2;
}

@media only screen and (min-width: 800px) {
    
    body {
        justify-content: space-between;
        background-image: url(images/bg-desktop.svg);
        background-size: cover;
    }
    
    main {
        flex-direction: row;        
    }

    
    #content-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 400px;
        padding-left: 40px;
        text-align: left;
    }
    
    #content-text > button {
        margin-bottom: 0;
        margin-left: 0;
        padding: 1em 3em;
    }
    
    #content-text > p {
        margin: 0;
    }
    
    footer {
        margin-top: 0;
        text-align: right;
    }
}